/* Banner */
.banner-h1 h1 {
    font-size: 37px;
    line-height: 40px;
    font-family: 'DM Sans';
    font-weight: 300;
}
.banner-h1 h2 {
    font-size: 70px;
    font-weight: 100;
    line-height: 70px;
}
.banner-h1 h2 span.designBold {
    font-weight: 400;
    letter-spacing: 1px;
}
.banner-h1 h1 span.bold {
    font-family: 'Monument Extended';
    text-transform: uppercase;
}
.WhyUsTag p {
    background-color: #1C1E31;
    max-width: 200px;
    margin: 0 auto;
    display: table;
    color: #D4FFE3;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 0px;
    line-height: 20px;
    margin-bottom: 15px;
}
.buttonBanner_Box a {
    font-family: 'DM Sans';
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0px;
    transition: .9s;
    padding: 16px 60px 16px 32px;
    text-decoration: underline;
    font-weight: 600;
    border-radius: 40px;
}
.buttonBanner_Box a:hover{
    background-color: #1C1E31;
    color: #fff;
    text-decoration: unset;
}
.buttonBanner_Box a:hover span i{
    opacity: 1 !important;
}
.buttonBanner_Box a span.fontButton i {
    color: #fff;
    opacity: 0;
}

.buttonBanner_Box a span.fontButton {
    position: relative;
    left: 38px;
}

#transparent-banner .container-fluid {
    padding: 11rem 60px 26rem;
    margin-top: -135px;
    border-radius: 90px;
}
#transparent-banner {
    margin: 20px 0px 80px;
}
#transparent-banner {
    margin-bottom: -24rem;
}

#SingleImage img {
    border-radius: 20px;
    margin: 0 auto;
    display: table;
    transition: .9s;
}
#SingleImage img:hover {
    filter: brightness(0.8);
}
.banner-img {
    position: relative;
    bottom: -60px;
}

span.light-weight {
    font-family: 'Neou';
    font-weight: 100;
}

/***Client Section****/

#ClientSection {
    padding-top: 6rem;
    padding-bottom: 4rem;
}

#innerRowClient .contentBoxWrap p {
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}
.innercontentBoxClient h3 {
    font-family: 'DM Sans';
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
}
.innercontentBoxClient, .innercontentBoxServices {
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}
.innercontentBoxYear h3 {
    font-family: 'DM Sans';
    font-size: 30px;
}
.innercontentBoxServices ul {
    padding: 0;
    margin: 0px;
    margin-bottom: 10px;
}

.innercontentBoxServices ul li {
    list-style: none;
    display: inline-block;
    margin-right: 8px;
    text-align: center !important;
    background-color: #F9F9F9;
    padding: 3px 13px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 6px;
}
.innerContextBox1 h3 {
    font-family: 'DM Sans';
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
}
.innerContextBox2 p {
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
}
.innerContextBox2 {
    margin-top: 6rem;
    margin-bottom: 5rem;
}

/***Cahllenge*****/

#challengesInnerRow .innercontentBoxchallenge {
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 8px;
}

#challengesInnerRow .innercontentBoxchallenge h3 {
    font-size: 45px;
    line-height: 55px;
}
.innercontentBoxchallengeService ul li {
    margin-bottom: 2rem;
    font-family: 'DM Sans';
    font-size: 20px;
    color: #737373;
    font-weight: 300;
}

.innercontentBoxchallengeService ul li b {
    color: #000;
    font-weight: 600;
}

/***Design Process ****/

#designProcessSection {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/****Result ****/

#ResultSection .headeingBox h2 {
    font-family: 'Monument Extended';
    font-weight: 500;
    font-size: 70px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
#InnerResult-Row {
    background-color: #F7F6F9;
    padding: 60px 60px;
    border-radius: 20px;
    padding-right: 10rem;
}
#InnerResult-Row .innerContent p {
    font-style: italic;
    font-size: 22px;
    line-height: 40px;
}
#InnerResult-Row .Brand-Logo {
    margin-bottom: 2rem;
}
#InnerResult-Row .innerContentAuthor h3 {
    font-family: 'DM Sans';
    font-size: 25px;
}
#InnerResult-Row .innerContentAuthor p {
    color: #5A5A5B;
}
#InnerResult-Row .innerContentAuthor {
    margin-top: 3rem;
}

/****Project *****/

#ProjectsSection {
    padding-top: 4rem;
    padding-bottom: 2rem;
}
#ProjectsSection .headingBox h2 {
    font-family: 'Monument Extended';
    font-size: 55px;
    font-weight: 400;
}

#ProjectsSection .headingBox {
    margin-bottom: 3rem;
}
#projectInnerRow .contextwrapinner h4 {
    font-size: 30px;
    line-height: 30px;
}
#projectInnerRow  .contextwrapinner {
    position: relative;
}
#projectInnerRow .contextwrapinner p {
    font-size: 22px;
    color: #696969;
}
#projectInnerRow .contextwrapinner tag {
    background-color: #F2F2F2;
    color: #696969;
    font-size: 18px;
    padding: 7px 15px;
    border-radius: 6px;
}
#projectInnerRow .contextwrapinner ul li {
    list-style: none;
}
#projectInnerRow .contextwrapinner ul {
    padding: 0px;
    display: flex;
    gap: 10px;
}
#projectInnerRow .contextwrapinner a i {
    transform: rotate(-42deg);
    font-size: 30px;
    color: #696969;
    position: absolute;
    left: 42rem;
    top: 1rem;
}
#projectInnerRow .contextwrap {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}
#projectInnerRow .Image-Box img {
    width: 100%;
}

/***Responsive *****/

@media (max-width: 1550px)
{
    #transparent-banner {
    margin-bottom: -30rem;
}
#transparent-banner .container-fluid {
    padding: 11rem 60px 31rem;
}
#InnerResult-Row {
    padding-right: 6rem;
}
#projectInnerRow .contextwrapinner a i {
    left: 34rem;
}

}
@media (max-width: 1440px)
{
    #SingleImage img {
    width: 90%;
}
.innerContextBox1 h3 {
    font-size: 27px;
    line-height: 38px;
}
.innercontentBoxClient h3 {
    font-size: 32px;
    line-height: 35px;
}
}
@media(max-width: 1366px)
{
        #transparent-banner .container-fluid {
        padding: 10rem 60px 30rem;
    }
        #transparent-banner {
        margin-bottom: -29rem;
    }
        .innerContextBox1 h3 {
        font-size: 25px;
        line-height: 36px;
    }
    .innercontentBoxClient h3 {
        font-size: 30px;
        line-height: 32px;
    }
        #projectInnerRow .contextwrapinner a i {
        left: 30rem;
    }
}
@media (max-width: 1336px)
{
}
@media (max-width: 1280px)
{
        #InnerResult-Row {
        padding-right: 2rem;
    }
        #SingleImage img {
        width: 75%;
    }
        #transparent-banner {
        margin-bottom: -18rem;
    }
        #transparent-banner .container-fluid {
        padding: 10rem 60px 19rem;
    }
        .innerContextBox1 h3 {
        font-size: 23px;
        line-height: 33px;
    }
        .innercontentBoxClient h3 {
        font-size: 28px;
        line-height: 30px;
    }
    .innerContextBox2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
}
@media (max-width: 1115px)
{
    .banner-h1 h2 {
    font-size: 60px;
    line-height: 65px;
}
    .innerContextBox1 h3 {
        font-size: 18px;
        line-height: 31px;
    }
        .innercontentBoxClient h3 {
        font-size: 24px;
        line-height: 28px;
    }
    .innerContextBox2 p {
    font-size: 19px;
    line-height: 27px;
}
.innercontentBoxServices ul li {
    margin-right: 5px;
    padding: 1px 11px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 4px;
}
#challengesInnerRow .innercontentBoxchallenge h3 {
    font-size: 34px;
    line-height: 40px;
}
.innercontentBoxchallengeService ul li {
    margin-bottom: 1rem;
    font-size: 17px;
    line-height: 24px;
}
#ResultSection .headeingBox h2 {
    font-size: 55px;
    margin-top: 0rem;
    margin-bottom: 2rem;
}
#InnerResult-Row .innerContent p {
    font-size: 18px;
    line-height: 27px;
}
    #InnerResult-Row {
        padding: 37px 36px;
        padding-right: 1rem;
    }
    #InnerResult-Row .innerContentAuthor {
    margin-top: 2rem;
}
#InnerResult-Row .Brand-Logo {
    margin-bottom: 1rem;
}
#ProjectsSection .headingBox h2 {
    font-size: 36px;
}
#ProjectsSection .headingBox {
    margin-bottom: 2rem;
}
#ProjectsSection {
    padding-top: 2rem;
    padding-bottom: 0rem;
}
    #projectInnerRow .contextwrapinner a i {
        left: 25rem;
    }
    #projectInnerRow .contextwrapinner h4 {
    font-size: 25px;
    line-height: 25px;
}
#projectInnerRow .contextwrapinner p {
    font-size: 20px;
}
#projectInnerRow .contextwrapinner tag {
    font-size: 15px;
    padding: 5px 13px;
    border-radius: 4px;
}


}
@media (max-width: 1024px)
{
    .innercontentBoxClient h3 {
        font-size: 22px;
        line-height: 26px;
    }
    #transparent-banner .banner-heading p {
    font-size: 15px;
}
.banner-h1 h1 {
    font-size: 31px;
    line-height: 29px;
}
.innercontentBoxServices ul li {
        margin-bottom: 12px;
    }
    .innercontentBoxServices ul {
    margin-bottom: 0px;
}
    .innerContextBox2 p {
        font-size: 16px;
        line-height: 25px;
    }
        .innerContextBox2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
        #ResultSection .headeingBox h2 {
        font-size: 42px;
    }
        #InnerResult-Row .innerContent p {
        font-size: 16px;
        line-height: 25px;
    }
    #InnerResult-Row .innerContentAuthor h3 {
    font-size: 22px;
}
#InnerResult-Row .innerContentAuthor p {
    font-size: 15px;
}
    #projectInnerRow .contextwrapinner h4 {
        font-size: 22px;
        line-height: 22px;
    }
        #projectInnerRow .contextwrapinner p {
        font-size: 17px;
    }
        #projectInnerRow .contextwrapinner a i {
        left: 22rem;
    }
        #InnerResult-Row .innerContentAuthor {
        margin-top: 1rem;
    }
}
@media (max-width: 885px)
{
        .banner-h1 h2 {
        font-size: 48px;
        line-height: 52px;
    }
        .banner-h1 h1 {
        font-size: 24px;
        line-height: 19px;
    }
        #transparent-banner .banner-heading p {
        font-size: 13px;
    }
        #transparent-banner {
        margin-bottom: -13rem;
    }
        #transparent-banner .container-fluid {
        padding: 10rem 60px 13rem;
    }
    #ClientSection {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
    .innercontentBoxClient h3 {
        font-size: 19px;
        line-height: 24px;
    }
        .innerContextBox1 h3 {
        font-size: 16px;
        line-height: 26px;
    }
        #challengesInnerRow .innercontentBoxchallenge h3 {
        font-size: 27px;
        line-height: 29px;
    }
        .innercontentBoxchallengeService ul li {
        font-size: 16px;
        line-height: 25px;
    }
    #projectInnerRow .contextwrapinner a i {
        left: 19rem;
    }
        #projectInnerRow .contextwrapinner h4 {
        font-size: 19px;
        line-height: 15px;
    }
}
@media (max-width: 836px)
{
        .innercontentBoxClient h3 {
        font-size: 18px;
        line-height: 23px;
    }
    #ResultSection .headeingBox h2 {
        font-size: 35px;
    }
        #ProjectsSection .headingBox h2 {
        font-size: 28px;
    }
}
@media (max-width: 820px)
{
        #transparent-banner .banner-heading p {
        font-size: 12px;
    }
        #projectInnerRow .contextwrapinner a i {
        left: 18rem;
        font-size: 20px;
    }

}
@media (max-width: 800px)
{
        .innercontentBoxClient h3 {
        font-size: 17px;
        line-height: 22px;
    }
    .innercontentBoxchallengeService ul li {
        font-size: 15px;
        line-height: 24px;
    }
        #InnerResult-Row .innerContent p {
        font-size: 15px;
        line-height: 24px;
    }
        #InnerResult-Row .innerContentAuthor h3 {
        font-size: 20px;
    }
        #projectInnerRow .contextwrapinner h4 {
        font-size: 17px;
        line-height: 20px;
    }
}
@media (max-width: 768px)
{
        #transparent-banner .container-fluid {
        padding: 10rem 36px 13rem;
    }
        #InnerResult-Row {
        padding: 18px 6px;
        padding-right: 0rem;
    }
        #projectInnerRow .contextwrapinner a i {
        left: 16rem;
    }
}
@media (max-width: 480px)
{
    .banner-h1 h2 {
        font-size: 30px;
        line-height: 35px;
    }
        .banner-h1 h1 {
        font-size: 19px;
        line-height: 22px;
    }
        #transparent-banner {
        margin-bottom: -7rem;
    }
        #transparent-banner .container-fluid {
        padding: 10rem 36px 7rem;
    }
        .innercontentBoxClient h3 {
        font-size: 24px;
        line-height: 30px;
    }
        #ClientSection {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
        .innerContextBox1 h3 {
        font-size: 18px;
        line-height: 30px;
    }
       #challengesInnerRow .innercontentBoxchallenge {
        padding-bottom: 6px;
        margin-bottom: 1rem;
    }

    #challengesInnerRow .innercontentBoxchallenge h3 {
        font-size: 33px;
        line-height: 34px;
    }
    #designProcessSection {
    padding-top: 1rem;
}
    #ResultSection .headeingBox h2 {
        font-size: 30px;
        margin-bottom: 1rem;
    }
    #InnerResult-Row .Content-Box {
    margin-top: 2rem;
}
    #InnerResult-Row .innerContent p {
        font-size: 16px;
        line-height: 27px;
    }
        #projectInnerRow .contextwrapinner h4 {
        font-size: 20px;
        line-height: 26px;
    }
        #projectInnerRow .contextwrapinner a i {
        left: 20rem;
        font-size: 26px;
    }
    #designProcessSection {
    display: none;
}
#ResultSection {
    padding-top: 2rem;
}

}
@media (max-width: 430px)
{
    .banner-h1 h2 {
        font-size: 26px;
        line-height: 32px;
    }
}
@media (max-width: 425px)
{
        #projectInnerRow .contextwrapinner a i {
        left: 19rem;
        font-size: 26px;
    }

}
@media (max-width: 415px)
{
            #transparent-banner .container-fluid {
        padding: 9rem 36px 7rem;
    }
}
@media (max-width: 395px)
{
        .banner-h1 h2 {
        font-size: 23px;
        line-height: 26px;
    }
        #projectInnerRow .contextwrapinner a i {
        left: 17rem;
        font-size: 26px;
    }
        #projectInnerRow .contextwrapinner h4 {
        font-size: 17px;
        line-height: 23px;
    }
}
@media (max-width: 380px)
{
}
@media (max-width: 360px)
{
        .banner-h1 h2 {
        font-size: 19px;
        line-height: 21px;
    }
        .banner-h1 h1 {
        font-size: 15px;
        line-height: 17px;
    }
        #projectInnerRow .contextwrapinner a i {
        left: 15rem;
        font-size: 18px;
    }

}
@media (max-width: 320px)
{
        .banner-h1 h2 {
        font-size: 18px;
        line-height: 20px;
    }
        #transparent-banner .container-fluid {
        padding: 9rem 36px 7rem;
        border-radius: 35px;
    }
        #transparent-banner {
        margin-bottom: -4rem;
    }
        #transparent-banner .container-fluid {
        padding: 9rem 36px 4rem;
        border-radius: 35px;
    }
    .innercontentBoxClient h3 {
        font-size: 20px;
        line-height: 27px;
    }
        #ResultSection .headeingBox h2 {
        font-size: 27px;
        margin-bottom: 1rem;
    }
        #ProjectsSection .headingBox h2 {
        font-size: 24px;
    }

}
@media (max-width: 280px)
{
}