/* Fonts */


/* MonumentExtended Font */
@font-face {
    font-family: 'Monument Extended';
    src: url('fonts/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('fonts/MonumentExtended-FreeForPersonalUse/MonumentExtended-Ultrabold.otf') format('opentype');
    font-weight: 800; /* Bold */
    font-style: normal;
    font-display: swap;
}

/* Neou Font*/

@font-face {
    font-family: 'Neou';
    src: url('fonts/Neou/Neou-Thin.ttf') format('truetype');
    font-weight: 300; /* Thin weight */
    font-style: normal;
    font-display: swap;
}

/* DM SANS Font */

@font-face {
  font-family: 'DM Sans';
  src: url('fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900; /* Supports everything from Thin to Black */
  font-style: normal;
}

/* Oswald */

@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype-variations');
  font-weight:  900; /* Supports everything from Thin to Black */
  font-style: normal;
}

/* Body */

body {
  background-color: #EEFFF3;
}

h1, h3 {
    font-family: 'Monument Extended', sans-serif;
    color: #151515;
}
p, a {
    font-family: 'DM Sans', sans-serif;
    color: #202020;
    text-decoration: none;
    font-size: clamp(12px, 5vw, 18px);
}
h2, h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    color: #151515;
}
.container-fluid {
    width: 90%;
}

.headings {
    padding: 30px 0px 4rem;
    width: 100%;
}
.headings h2 {
    font-size: clamp(20px, 3vw, 50px);
    font-weight: 500;
    color: #151515;
    font-family: 'DM Sans'
}
.headings h3 span {
    font-family: 'Neou', sans-serif !important;
    font-weight: 500;
}
.headings h3 {
    font-size: clamp(20px, 3vw, 50px);
}
.headings button {
    border: unset;
    border-radius: 40px;
    padding: 10px 26px;
    background-color: #1C1E31;
}
.headings button a {
    color: #fff;
}
button.universa-btn {
    border: 1px solid #212529;
    padding: 10px 30px;
    background-color: #212529;
    border-radius: 40px;
}
button.universa-btn a {
    color: #fff;
}
button.universa-btn:hover {
    background-color: #ffffff;
    transition: 0.8s;
}
button.universa-btn:hover a {
    color: #212529;
}

/* Header Css */

#header-container {
    margin-top: 60px;
    background-color: transparent;
}

#header-container .container-fluid {
    width: 85%;
    background-color: #fff;
    border-radius: 40px;
    padding: 4px 0px;
    z-index: 1;
    position: relative;
}

button.hamburger {
    display: none;
}
ul#myLinks {
    margin: 0px;
    list-style: none;
}
.header-btn button {
    border: unset;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 40px;
}

.header-btn button a {
    color: #fff;
    font-size: 16px;
}



/* Banner */


#transparent-banner .container-fluid {
    padding: 18rem 100px 0px;
    margin-top: -135px;
    width: 95%;
    border-radius: 90px;
}
#transparent-banner img.scroll-img {
    width: 30%;
    animation: spin 15s linear infinite;
}
#transparent-banner {
    margin: 20px 0px 80px;
}
.banner-img {
    position: relative;
    bottom: -60px;
}
h1.animated-h1 {
    display: inline-grid;
    grid-template-areas: "stack";
    vertical-align: bottom;
    font-size: 220px;
}
span.light-weight {
    font-family: 'Neou';
    font-weight: 100;
}
h1.animated-h1 span.word {
    grid-area: stack;
    opacity: 0;
    animation: fadeLoop 6s linear infinite;
    color: #1a1a1a;
}
.word:nth-child(1) { 
    animation-delay: 0s !important; 
}
.word:nth-child(2) { 
    animation-delay: 4s !important; 
}
.word:nth-child(3) { 
    animation-delay: 8s !important; 
}
.banner-heading p {
    font-size: 28px;
    font-weight: 700;
    font-family: Monument Extended, sans-serif !important;
}
button.banner-btn i.fa.fa-arrow-right {
    font-size: 18px;
    transform: rotate(300deg);
}
button.banner-btn:hover i.fa.fa-arrow-right {
    transform: rotate(0deg);
    transition: 0.8s;
}
.banner-content {
    width: 65%;
}

.banner-content p {
    font-size: 22px;
}
button.banner-btn {
    border-radius: 30px;
    border: unset;
    padding: 8px 30px 12px 40px;
    margin: 0px 0px 20px;
    font-size: 22px;
    background-color: #A4E7FF;
}
button.banner-btn:hover {
    background-color: #fff;
}

.scroll-img-div {
    display: flex;
    justify-content: flex-end;
        position: relative;
}
.scroll-img-div:after {
    content: url('images/Vector.png');
    display: block;
    position: absolute;
    top: 62px;
    right: 70px;
}

.scroll-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 60px;
}

@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

@keyframes fadeLoop {
  0%   { opacity: 0; transform: translateX(10px); } /* Start hidden & slightly down */
  5%   { opacity: 1; transform: translateX(0); }    /* Fade in & move up */
  25%  { opacity: 1; transform: translateX(0); }    /* Stay visible */
  30%  { opacity: 0; transform: translateX(-10px); }/* Fade out & move up */
  100% { opacity: 0; }                              /* Stay hidden for rest of loop */
}



/* Why US  */


.exp-boxes {
    display: flex;
    gap: 15px;
    margin: 11rem 10px 20px;
}
#exprience-box .container-fluid {
    padding: 7rem 6rem 4rem;
}

.stat-card {
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: #fff;
    padding: 40px 32px;
    border-radius: 32px;
    width: 22%;
    border: 1px solid #fff;
}
.stat-card:hover {
    background: linear-gradient(136deg, #8EFDAE 0%, #ffffff 60%);
    border: 1px solid #8EFDAE;
    transition: 0.8s;
}
.stat-card h3 {
    font-size: 50px;
    font-family: 'DM Sans';
    font-weight: 600;
}
.stat-card p {
    font-size: 20px;
    width: 70%;
}
#exprience-box .headings {
    width: 65%;
}

#exprience-box {
    background: linear-gradient(36deg, #d1ffdd, #EEFFF3 60%);
}


/* Services */

.service-logo {
    width: 13%;
    margin-bottom: 20px;
}
#services-section {
    background-color: #8EFDAE;
    padding: 10rem 20px;
}
.service-box h3 {
    font-family: DM Sans;
    font-weight: 600;
    width: 55%;
}
.service-box p {
    width: 85%;
}
.service-box:hover {
    background: linear-gradient(2deg, #8efdae, #d9ffe4f5 100%);
    transition: 0.8s;
}
.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 0px 0px 0px 80px;
}

.service-box {
    border: 1px solid #fff;
    padding: 50px 40px;
    border-radius: 30px;
}

.service-box button {
    border: unset;
    padding: 8px 20px;
    border-radius: 30px;
}

.service-box:hover button {
    background-color: #1c1e31;
    transition: 0.8s;
}
.service-box button .fa-arrow-right {
    transform: rotate(320deg);
    font-size: 16px;
}
.service-box:hover button .fa-arrow-right {
    transform: rotate(0deg);
}
.service-box:hover button a, .service-box:hover button .fa-arrow-right {
    color: #fff;
    transition: 0.8s;
}
p.trans-no-service {
    font-family: 'Oswald';
    font-size: 200px;
    color: #6add8c73;
    position: absolute;
    left: -49px;
    bottom: -125px;
}
.service-lower-sec {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
}
    
img.globe-img.img-fluid {
    position: absolute;
    width: 40%;
    left: -180px;
}

/* About Us */


#about-section {
    margin: 7rem 0px 4rem;
}

#about-section .headings {
    width: 58%;
    margin: 0px auto;
    text-align: center;
}
#about-section .about-content p {
    font-size: 22px;
    margin: 60px 0px;
    width: 70%;
    text-align: center;
}

#Explore-work {
    background-color: #8EFDAE;
    margin: 80px 40px;
    border-radius: 80px;
    padding: 8rem 0px;
}

#Explore-work .headings {
    width: 55%;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 30px ;
}
.work-vertical-box {
    gap: 25px;
    padding: 0px 6rem 0px 6rem;
}
#Explore-work .row {
    padding: 3rem 0px;
}
.work-vertical-box {
    gap: 25px;
    padding: 0px 11rem 0px 5rem;
}
#Explore-work p {
    color: #444;
    line-height: 34px;
}
#Explore-work .work-vertical-box h3 {
    font-size: 35px;
}


/* Industries */
.industry-col {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    width: 85%;
    margin: 0px AUTO;
}
.industry-box {
    text-align: center;
    padding: 45px 55px;
    background-color: #fff;
    border-radius: 30px;gap: 12px;
    border: 1px solid #fff;
}

.industry-box h3 {
    font-size: 22px;
    font-family: 'DM Sans';
    font-weight: 900;
}

.industry-box p {
    font-size: 16px;
}

.industry-box button {
    border: unset;
    background-color: #ffffff00;
    padding: 12px 15px 12px 20px;
    border-radius: 50px;
}
.industry-box button:hover {
    background-color: #1C1E31;
    transition: 0.8s;
}
.industry-box button:hover a {
    color: #fff;
}
.industry-box:hover {
    background: linear-gradient(136deg, #8EFDAE 0%, #ffffff 60%);
    border: 1px solid #8EFDAE;
    transition: 0.8s;
}
section#industries {
    padding-bottom: 8rem;
    background: linear-gradient(331deg, #d1ffdd, #EEFFF3 50%);
}
.industry-box button i.fa.fa-arrow-right {
    transform: rotate(326deg);
}
.industry-box button:hover i.fa.fa-arrow-right {
    transform: rotate(0deg);
    color: #fff;
    transition: 0.8s;
}

/* Testimonial */

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.client-box {
    gap: 20px;
}
  .client-box img {
    width: 7%;
}
.testi-box p {
    font-size: 35px;
}      
.client-box {
    gap: 20px;
    margin-top: 2rem;
    border-top: 1px solid #0000002e;
    padding: 40px 5px;
}
#testimonial {
    padding: 8rem 0rem;
    background: linear-gradient(192deg, #d1ffdd, #EEFFF3 23%);
}
#testimonial .container-fluid {
    background-color: #fff;
    padding: 4rem 5rem;
    border-radius: 50px;
}
#testimonial .headings {
    width: 60%;
}
.client-content p {
    font-size: 16px;
    color: #000000b0;
    margin: 0px;
}
.client-content h5 {
    margin: 0px;
    font-size: 22px;
    font-weight: 700;
}
img.trusts {
    width: 60%;
    animation: spin 15s linear infinite;

}
.trusted-img:before {
    content: url('images/tdesign_quote-filled.png');
    display: block;
    position: absolute;
    top: 22%;
}
.trusted-img {
    justify-content: center;
    display: flex;
    align-items: flex-start;
    position: relative;
}
.pagination-cts {
    position: relative;
    width: 22%;
    top: -140px;
    left: 23rem;
    margin: 0px auto;
    border: 1px solid #BFC5FF;
    padding: 20px 0px;
    border-radius: 30px;
}

.pagination-cts svg.swiper-navigation-icon {
    color: #000;
    width: 29%;
}

.pagination-cts .swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
    top: 0.5rem;
    width: 50%;
    margin: 0px auto;
    left: 25%;
}
.brands-marquee img {
    width: 15%;
    margin: 15px 15px;
}
.brands-marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 20px 20px;
}
.marquee-track {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}
@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); } /* Resets halfway through the double set */
}


/* Case Study */
#case-study {
    padding: 4rem 0px;
}

#case-study .headings {
    width: 85%;
}
.case-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 3rem;
}
.case-container {
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 2rem;
}
.meta-detail {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px 0px;
}
.meta-detail p {
    margin: 0px;
    font-size: 16px;
}
.case-box h3 {
    font-family: 'DM Sans';
    font-size: 25px;
    margin-bottom: 1rem;
}
.case-box p {
    color: #222222d1;
}
.card-img-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.card-img-wrapper img {
  width: 100%;
  display: block;
  transition: transform 0.5s ease;
}

/* The dark semi-transparent overlay */
.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Dims the image */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease;
}

/* The white circular arrow */
.arrow-icon {
    width: 60px;
    height: 60px;
    background: #222;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    transform: rotate(316deg);
}
.case-box:hover .card-img-wrapper {
    box-shadow: 0px 0px 9px 3px #8efdae94;
}
.case-box:hover .img-overlay {
  opacity: 1; /* Shows the overlay */
}



/* FAQS */

.indus-icon {
    display: flex;
    align-items: center;
    gap: 20px
}
#faqs h2 {
    font-style: italic;
}
.plus {
    padding: 20px 10px;
    border-radius: 40px;

}

summary span {
        content: '';
        width: 22px;
        display: block;
        height: 2px;
        color: #000;
        background: #000;
}
summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
    padding: 14px 30px 14px 45px;
    
}
.indus-icon h5 {
    font-size: 25px;
}
details[open] {
    border: 1px solid #6ADD8C;
    border-radius: 35px;
}
details p {
    padding: 10px 40px;
}
.faqs-cards {
    width: 80%;
    margin: 0px auto;
}
#faqs .container-fluid {
    background-color: #fff;
    border-radius: 50px;
    padding: 80px 10px;
    margin-top: 3rem;
}
details {
    max-width: 100%;
    width: 100%;
    padding: 10px 0px 5px;
    border: 1px solid #C2E99B;
    background-color: #fff;
    margin: 15px 0px;
    border-radius: 22px;
}

summary .plus span:nth-child(1) {
    transform: rotate(90deg);
    right: 0px;
    position: relative;
    top: 2px;
}
details[open] summary .plus span:nth-child(1) {
    transform: rotate(55deg);
    right: -0px;
    transition: 0.5s;
}

details[open] summary .plus span:nth-child(2) {
    transform: rotate(131deg);
    transition: 0.5s;
}
.faqs-cards button.universa-btn {
    margin-top: 40px;
}




/* Footer */

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.footer-bottom p, .footer-bottom ul li a {
    font-size: 18px;
}
.footer-bottom ul#myLinks {
    margin-left: -140px !important;
    padding: 0px;
}
footer {
    padding: 50px 0px 0px;
}

.footer-bottom img {
    width: 3%;
    height: 60%;
}
p.copyright-text {
    margin-bottom: 0px;
}
footer#footer-container p span {
    font-size: 18px;
    color: #000000a6;
    padding-bottom: 10px;
}
footer#footer-container .row {
    margin-bottom: 50px;
}


.footer-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-social .social-icons {
    gap: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.footer-social .social-icons .icons {
    background-color: #EEFFF3;
    border-radius: 40px;
    padding: 10px 10px;
    border: 1px solid #BFFFD2;
}
.footer-social .social-icons .icons:hover {
    background-color: #84F200;
    transition: 0.8s;
}

.footer-award-win {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.footer-award-win:before {
        content: url('images/hugeicons_web-design-01.png');
        display: block;
        position: absolute;
        right: 50%;
        left: 75%;
}
img.img-fluid.Awarding {
    animation: spin 15s linear infinite;
}






/* Responsive */


@media (max-width: 1800px)
{

h1.animated-h1 {
    font-size: 200px;
}

#exprience-box .container-fluid {
    padding: 7rem 5rem 4rem;
}
.work-vertical-box {
    padding: 0px 9rem 0px 5rem;
}
.trusted-img:before {
    top: 15%;
}
.footer-award-win:before {
    left: 74%;
}
.scroll-img-div:after {
    right: 65px;
}

}
@media (max-width: 1750px)
{	

    .scroll-img-div:after {
        right: 61px;
        top: 55px;
    }
    .stat-card {
    width: 23%;
    }
        .footer-award-win:before {
        left: 73%;
    }


}
@media (max-width: 1650px)
{

    h1.animated-h1 {
        font-size: 180px;
    }
    .banner-content {
    width: 85%;
}
#transparent-banner img.scroll-img {
    width: 32%;
}
    #exprience-box .container-fluid {
        padding: 7rem 0rem 4rem 6rem;
    }
.industry-box {
    padding: 45px 45px;
}
#case-study .headings {
    width: 82%;
}
.pagination-cts {
    left: 20rem;
}
    .footer-award-win:before {
        left: 71%;
    }
    .stat-card p {
    font-size: 20px;
    width: 85%;
}

}
@media (max-width: 1550px)
{


    .scroll-img-div:after {
        right: 54px;
        top: 48px;
    }

    p.trans-no-service {
    left: -49px;
    bottom: -105px;
    font-size: 150px;
}
    .trusted-img:before {
        top: 11%;
    }
        .pagination-cts {
        left: 19rem;
    }
        .footer-award-win:before {
        left: 70%;
    }


}
@media (max-width: 1440px)
{

    h1.animated-h1 {
        font-size: 165px;
    }


}
@media (max-width: 1366px)
{	
}
@media (max-width: 1336px)
{
}
@media (max-width: 1280px)
{
}
@media (max-width: 1115px)
{	
}
@media (max-width: 1024px)
{
}
@media (max-width: 885px)
{
}
@media (max-width: 860px)
{	
}
@media (max-width: 840px)
{
}
@media (max-width: 820px)
{
}
@media (max-width: 800px)
{	
}
@media (max-width: 768px)
{
}
@media (max-width: 480px)
{		
}
@media (max-width: 430px)
{	
}
@media (max-width: 425px)
{
}
@media (max-width: 415px)
{
}
@media (max-width: 395px)
{	
}
@media (max-width: 390px)
{
}
@media (max-width: 380px)
{
}
@media (max-width: 360px)
{	
}
@media (max-width: 320px)
{
}