/* Fonts */


/* MonumentExtended Font */
@font-face {
    font-family: 'Monument Extended';
    src: url('fonts/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('fonts/MonumentExtended-FreeForPersonalUse/MonumentExtended-Ultrabold.otf') format('opentype');
    font-weight: 800; /* Bold */
    font-style: normal;
    font-display: swap;
}

/* Neou Font*/

@font-face {
    font-family: 'Neou';
    src: url('fonts/Neou/Neou-Thin.ttf') format('truetype');
    font-weight: 300; /* Thin weight */
    font-style: normal;
    font-display: swap;
}

/* DM SANS Font */

@font-face {
  font-family: 'DM Sans';
  src: url('fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900; /* Supports everything from Thin to Black */
  font-style: normal;
}

/* Oswald */

@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype-variations');
  font-weight:  900; /* Supports everything from Thin to Black */
  font-style: normal;
}

/* Body */

body {
  background-color: #EEFFF3;
}

h1, h3 {
    font-family: 'Monument Extended', sans-serif;
    color: #151515;
}
p, a {
    font-family: 'DM Sans', sans-serif;
    color: #202020;
    text-decoration: none;
    font-size: clamp(12px, 5vw, 18px);
}
h2, h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    color: #151515;
}
.container-fluid {
    width: 90%;
}

.headings {
    padding: 30px 0px 4rem;
    width: 100%;
}
.headings h2 {
    font-size: clamp(20px, 5vw, 50px);
    font-weight: 500;
    color: #151515;
    font-family: 'DM Sans'
}
.headings h3 span {
    font-family: 'Neou', sans-serif !important;
    font-weight: 500;
}
.headings h3 {
    font-size: 50px;
}
.headings button {
    border: unset;
    border-radius: 40px;
    padding: 10px 26px;
    background-color: #1C1E31;
}
.headings button a {
    color: #fff;
}
button.universa-btn {
    border: unset;
    padding: 10px 30px;
    background-color: #212529;
    border-radius: 40px;
}
button.universa-btn a {
    color: #fff;
}



/* Header Css */

#header-container {
    margin-top: 60px;
    background-color: transparent;
}

#header-container .container-fluid {
    width: 78%;
    background-color: #fff;
    border-radius: 40px;
    padding: 4px 0px;
    z-index: 1;
    position: relative;
}

button.hamburger {
    display: none;
}
ul#myLinks {
    margin: 0px;
    list-style: none;
}
.header-btn button {
    border: unset;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 40px;
}

.header-btn button a {
    color: #fff;
    font-size: 16px;
}



/* Banner */


#transparent-banner .container-fluid {
    padding: 18rem 60px 0px;
    margin-top: -135px;
    border-radius: 90px;
}
#transparent-banner img.scroll-img {
    width: 28%;
    animation: spin 15s linear infinite;
}
#transparent-banner {
    margin: 20px 0px 80px;
}
.banner-img {
    position: relative;
    bottom: -60px;
}
h1.animated-h1 {
    display: inline-grid;
    grid-template-areas: "stack";
    vertical-align: bottom;
    font-size: 220px;
}
span.light-weight {
    font-family: 'Neou';
    font-weight: 100;
}
h1.animated-h1 span.word {
    grid-area: stack;
    opacity: 0;
    animation: fadeLoop 6s linear infinite;
    color: #1a1a1a;
}
.word:nth-child(1) { 
    animation-delay: 0s !important; 
}
.word:nth-child(2) { 
    animation-delay: 4s !important; 
}
.word:nth-child(3) { 
    animation-delay: 8s !important; 
}
.banner-heading p {
    font-size: 28px;
    font-weight: 700;
    font-family: Monument Extended, sans-serif !important;
}
button.banner-btn i.fa.fa-arrow-right {
    font-size: 18px;
    transform: rotate(300deg);
}
button.banner-btn:hover i.fa.fa-arrow-right {
    transform: rotate(0deg);
    transition: 0.8s;
}
.banner-content {
    width: 60%;
}

.banner-content p {
    font-size: 22px;
}
button.banner-btn {
    border-radius: 30px;
    border: unset;
    padding: 8px 30px 12px 40px;
    margin: 0px 0px 20px;
    font-size: 22px;
    background-color: #A4E7FF;
}
button.banner-btn:hover {
    background-color: #fff;
}

.scroll-img-div {
    display: flex;
    justify-content: flex-end;
        position: relative;
}
.scroll-img-div:after {
    content: url(https://cdn.shopify.com/s/files/1/0758/6886/4690/files/Vector.png?v=1771424407);
    display: block;
    position: absolute;
    top: 60px;
    right: 66px;
}

.scroll-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 60px;
}

@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

@keyframes fadeLoop {
  0%   { opacity: 0; transform: translateX(10px); } /* Start hidden & slightly down */
  5%   { opacity: 1; transform: translateX(0); }    /* Fade in & move up */
  25%  { opacity: 1; transform: translateX(0); }    /* Stay visible */
  30%  { opacity: 0; transform: translateX(-10px); }/* Fade out & move up */
  100% { opacity: 0; }                              /* Stay hidden for rest of loop */
}



/* Why US  */


.exp-boxes {
    display: flex;
    gap: 15px;
    margin: 11rem 10px 20px;
}
#exprience-box .container-fluid {
    padding: 7rem 6rem 4rem;
}

.stat-card {
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: #fff;
    padding: 40px 32px;
    border-radius: 32px;
    width: 22%;
    border: 1px solid #fff;
}
.stat-card:hover {
    background: linear-gradient(136deg, #8EFDAE 0%, #ffffff 60%);
    border: 1px solid #8EFDAE;
    transition: 0.8s;
}
.stat-card h3 {
    font-size: 50px;
    font-family: 'DM Sans';
    font-weight: 600;
}
.stat-card p {
    font-size: 20px;
    width: 70%;
}
#exprience-box .headings {
    width: 65%;
}

#exprience-box {
    background: linear-gradient(36deg, #d1ffdd, #EEFFF3 60%);
}


/* Services */

.service-logo {
    width: 13%;
    margin-bottom: 20px;
}
#services-section {
    background-color: #8EFDAE;
    padding: 10rem 20px;
}
.service-box h3 {
    font-family: DM Sans;
    font-weight: 600;
    width: 55%;
}
.service-box p {
    width: 85%;
}
.service-box:hover {
    background: linear-gradient(2deg, #8efdae, #d9ffe4f5 100%);
    transition: 0.8s;
}
.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 0px 0px 0px 80px;
}

.service-box {
    border: 1px solid #fff;
    padding: 50px 40px;
    border-radius: 30px;
}

.service-box button {
    border: unset;
    padding: 8px 20px;
    border-radius: 30px;
}

.service-box:hover button {
    background-color: #1c1e31;
    transition: 0.8s;
}
.service-box button .fa-arrow-right {
    transform: rotate(320deg);
    font-size: 16px;
}
.service-box:hover button .fa-arrow-right {
    transform: rotate(0deg);
}
.service-box:hover button a, .service-box:hover button .fa-arrow-right {
    color: #fff;
    transition: 0.8s;
}
p.trans-no-service {
    font-family: 'Oswald';
    font-size: 200px;
    color: #6add8c73;
    position: absolute;
    left: -49px;
    bottom: -125px;
}
.service-lower-sec {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
}
    
img.globe-img.img-fluid {
    position: absolute;
    width: 40%;
    left: -180px;
}

/* About Us */


#about-section {
    margin: 7rem 0px 4rem;
}

#about-section .headings {
    width: 58%;
    margin: 0px auto;
    text-align: center;
}
#about-section .about-content p {
    font-size: 22px;
    margin: 60px 0px;
    width: 70%;
    text-align: center;
}

#Explore-work {
    background-color: #8EFDAE;
    margin: 80px 40px;
    border-radius: 80px;
    padding: 8rem 0px;
}

#Explore-work .headings {
    width: 55%;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 30px ;
}
.work-vertical-box {
    gap: 25px;
    padding: 0px 6rem 0px 6rem;
}
#Explore-work .row {
    padding: 3rem 0px;
}
