/* Fonts */


/* MonumentExtended Font */
@font-face {
    font-family: 'Monument Extended';
    src: url('/assets/fonts/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('fonts/MonumentExtended-FreeForPersonalUse/MonumentExtended-Ultrabold.otf') format('opentype');
    font-weight: 800; /* Bold */
    font-style: normal;
    font-display: swap;
}

/* Neou Font*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@font-face {
    font-family: 'Neou';
    src: url('/assets/fonts/Neou/Neou-Thin.otf') format('truetype');
    font-weight: 300; /* Thin weight */
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NeouBold';
    src: url('/assets/fonts/Neou/Neou-Bold.otf') format('truetype');
    font-weight: bold; /* Thin weight */
    font-style: normal;
    font-display: swap;
}

/* DM SANS Font */

@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype-variations');
  font-weight: 100 900; /* Supports everything from Thin to Black */
  font-style: normal;
}

/* Oswald */

@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype-variations');
  font-weight:  900; /* Supports everything from Thin to Black */
  font-style: normal;
}

/* Body */

body {
  background-color: #fff;
}

h1, h3 {
    font-family: 'Monument Extended', sans-serif;
    color: #151515;
}
p, a {
    font-family: 'DM Sans', sans-serif;
    color: #202020;
    text-decoration: none;
    font-size: clamp(12px, 5vw, 18px);
}
h2, h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    color: #151515;
}
.container-fluid {
    width: 90%;
}

.headings {
    padding: 30px 0px 4rem;
    width: 100%;
}
.headings h2 {
    font-size: clamp(20px, 5vw, 50px);
    font-weight: 500;
    color: #151515;
    font-family: 'DM Sans'
}
.headings h3 span {
    font-family: 'Neou', sans-serif !important;
    font-weight: 500;
}
.headings h3 {
    font-size: 50px;
}
.headings button {
    border: unset;
    border-radius: 40px;
    padding: 10px 26px;
    background-color: #1C1E31;
}
.headings button a {
    color: #fff;
}
button.universa-btn {
    border: unset;
    padding: 10px 30px;
    background-color: #212529;
    border-radius: 40px;
}
button.universa-btn a {
    color: #fff;
}

