/* Fonts */


/* MonumentExtended Font */
@font-face {
    font-family: 'Monument Extended';
    src: url('fonts/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('fonts/MonumentExtended-FreeForPersonalUse/MonumentExtended-Ultrabold.otf') format('opentype');
    font-weight: 800; /* Bold */
    font-style: normal;
    font-display: swap;
}

/* Neou Font*/

@font-face {
    font-family: 'Neou';
    src: url('fonts/Neou/Neou-Thin.ttf') format('truetype');
    font-weight: 300; /* Thin weight */
    font-style: normal;
    font-display: swap;
}

/* DM SANS Font */

@font-face {
  font-family: 'DM Sans';
  src: url('fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900; /* Supports everything from Thin to Black */
  font-style: normal;
}

/* Oswald */

@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype-variations');
  font-weight:  900; /* Supports everything from Thin to Black */
  font-style: normal;
}

/* Body */

body {
  background-color: #EEFFF3;
}

h1, h3 {
    font-family: 'Monument Extended', sans-serif;
    color: #151515;
}
p, a {
    font-family: 'DM Sans', sans-serif;
    color: #202020;
    text-decoration: none;
    font-size: clamp(16px, 1.3vw, 18px);
}
h2, h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    color: #151515;
}
.container-fluid {
    width: 90%;
}

.headings {
    padding: 30px 0px 4rem;
    width: 100%;
}
.headings h2 {
    font-size: clamp(26px, 2.5vw, 50px);
    font-weight: 500;
    color: #151515;
    font-family: 'DM Sans'
}
.headings h3 span {
    font-family: 'Neou', sans-serif !important;
    font-weight: 500;
}
.headings h3 {
    font-size: clamp(26px, 2.5vw, 50px);
}
.headings button {
    border: unset;
    border-radius: 40px;
    padding: 10px 26px;
    background-color: #1C1E31;
}
.headings button a {
    color: #fff;
}
button.universa-btn {
    border: 1px solid #212529;
    padding: 10px 30px;
    background-color: #212529;
    border-radius: 40px;
}
button.universa-btn a {
    color: #fff;
}
button.universa-btn:hover {
    background-color: #ffffff;
    transition: 0.8s;
}
button.universa-btn:hover a {
    color: #212529;
}

/* Header Css */

#header-container {
    margin-top: 60px;
    background-color: transparent;
}

#header-container .container-fluid {
    width: 85%;
    background-color: #fff;
    border-radius: 40px;
    padding: 4px 0px;
    z-index: 1;
    position: relative;
}
#header-container li.desktop-hide {
    display: none;
}
button.hamburger {
    display: none;
}
ul#myLinks {
    margin: 0px;
    list-style: none;
}
.header-btn button {
    border: unset;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 40px;
}

.header-btn button a {
    color: #fff;
    font-size: clamp(12px, 1.3vw, 16px);
}
.hamburger {
    display: none; 
    background: none;
    border: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}
header#main-header button.hamburger {
    border: unset;
}
.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
}




/* Footer */

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.footer-bottom p, .footer-bottom ul li a {
    font-size: clamp(14px, 1.5vw, 18px);
    font-weight: 500;
}
.footer-info p {
    font-size: clamp(14px, 1.5vw, 25px);
    font-weight: 500;
}
.footer-bottom ul#myLinks {
    margin-left: -140px !important;
    padding: 0px;
}
footer {
    padding: 50px 0px 0px;
}
p.company-email {
    margin: 0px;
}
.footer-bottom img {
    width: 3%;
    height: 60%;
}
p.copyright-text {
    margin-bottom: 0px;
}
footer#footer-container h4 span {
    font-size: clamp(16px, 1.5vw, 25px);
    color: #000000a6;
    padding-bottom: 10px;
}
footer#footer-container .row {
    margin-bottom: 50px;
}
footer#footer-container .row:nth-child(3) {
    margin-bottom: 0px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-social .social-icons {
    gap: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.footer-social .social-icons .icons {
    background-color: #EEFFF3;
    border-radius: 40px;
    padding: 10px 10px;
    border: 1px solid #BFFFD2;
}
.footer-social .social-icons .icons:hover {
    background-color: #84F200;
    transition: 0.8s;
}

.footer-award-win {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.footer-award-win:before {
        content: url('images/hugeicons_web-design-01.png');
        display: block;
        position: absolute;
        right: 50%;
        left: 75%;
}
img.img-fluid.Awarding {
    animation: spin 15s linear infinite;
}

@media (max-width: 1800px)
{

h1.animated-h1 {
    font-size: 200px;
}


.trusted-img:before {
    top: 15%;
}
.footer-award-win:before {
    left: 74%;
}


}
@media (max-width: 1750px)
{	

    .scroll-img-div:after {
        right: 61px;
        top: 55px;
    }

        .footer-award-win:before {
        left: 73%;
    }


}
@media (max-width: 1650px)
{

    h1.animated-h1 {
        font-size: 180px;
    }
    .banner-content {
    width: 85%;
}
#transparent-banner img.scroll-img {
    width: 32%;
}

    .footer-award-win:before {
        left: 71%;
    }


}
@media (max-width: 1550px)
{


    .scroll-img-div:after {
        right: 54px;
        top: 48px;
    }
        .footer-award-win:before {
        left: 70%;
    }


}
@media (max-width: 1440px)
{

    h1.animated-h1 {
        font-size: 150px;
    }
        .footer-award-win:before {
        left: 68%;
    }


}
@media (max-width: 1366px)
{	

#header-container .container-fluid {
    width: 90%;
}
ul#myLinks {
    gap: 1.5rem !important;
    padding: 0px 20px;
}

        .footer-award-win:before {
        left: 65%;
    }

.scroll-col {
        padding: 0px 0px 0px 30px;
        width: 50%;
    }
        #transparent-banner img.scroll-img {
        width: 28%;
    }
        .scroll-img-div:after {
        right: 55px;
        top: 45px;
        transform: scale(0.8);
    }



}
@media (max-width: 1336px)
{

    h1.animated-h1 {
        font-size: 135px;
    }

button.banner-btn {
    padding: 8px 25px 12px 35px;
    font-size: 20px;
}
    .header-btn button {
    padding: 8px 16px;
}


}
@media (max-width: 1280px)
{

    .footer-award-win:before {
        left: 63%;
    }

button.banner-btn i.fa.fa-arrow-right {
    font-size: 16px;
}


}
@media (max-width: 1115px)
{	

#transparent-banner .container-fluid {
    padding: 12rem 45px 0px;
    margin-top: -135px;
}
    h1.animated-h1 {
        font-size: 110px;
    }
    ul#myLinks {
        gap: 1rem !important;
        padding: 0px 15px;
    }

.trusted-img:before {
        top: 8%;
        transform: scale(0.6);
    }
        #case-study .headings {
        width: 75%;
    }
        .footer-award-win:before {
        left: 58%;
    }

    


}
@media (max-width: 1024px)
{

#header-container .logo {
    margin-left: 12rem;
}
.hamburger {
        display: flex !important; /* Show hamburger on mobile */
    }

    #header-container .nav-links {
        display: none !important; /* Force hide the d-flex list */
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%; /* Push it below the navbar */
        left: 0;
        background-color: #050510; /* Match your background color */
        padding: 20px;
        z-index: 1000;
        gap: 20px !important; /* Adjust gap for vertical list */
        text-align: center;
        justify-content: center;
    }

    /* This class is added by JS to show the menu */
    #header-container .nav-links.active {
        display: flex !important;
        width: 280px;
        height: 100%;
        position: fixed;
        top: 0px;
        text-align: left;
        padding: 20px 30px !important;
        background: linear-gradient(45deg, #8efdae, #00000000);
        align-items: flex-start;
        backdrop-filter: blur(4px);
    }
    #header-container button.hamburger {
    background-color: transparent;
    padding: 5px 10px 5px 10px;
}
/* Add a smooth transition to the lines so they animate nicely */
.hamburger span {
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

/* --- THE CROSS ANIMATION --- */

/* 1. Rotate top line & move it down */
.hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

/* 2. Hide the middle line */
.hamburger.active span:nth-child(2) {
    opacity: 0;
}

/* 3. Rotate bottom line & move it up */
.hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
    button.hamburger.active {
        z-index: 99999;
        left: 14px;
        position: fixed;
        top: 13%;
    }
nav.navbar-container button.hamburger {
    background-color: transparent;
}
#header-container .nav-links a {
    font-size: 16px;
}
#header-container li.desktop-hide {
    display: block;
}
button.banner-btn i.fa.fa-arrow-right {
    font-size: 14px;
}
    button.banner-btn {
        padding: 8px 20px 10px 25px;
        font-size: 16px;
    }

img.img-fluid.Awarding {
    width: 55%;
}
    .footer-award-win:before {
        left: 62%;
        transform: scale(0.8);
    }
    .footer-social .social-icons {
    gap: 10px;
}


    .headings {
    padding: 30px 0px 3rem;
}
button.universa-btn {
    padding: 7px 22px;
}

    .header-btn button {
        padding: 4px 16px 8px;
    }


}
@media (max-width: 885px)
{

    h1.animated-h1 {
        font-size: 90px;
    }
        #header-container .logo {
        margin-left: 8rem;
    }
    .footer-award-win:before {
        left: 62%;
        transform: scale(0.6);
    }

    .footer-social .social-icons .icons img {
    width: 95%;
}   
.footer-social .social-icons .icons {
    padding: 8px 6px;
}



}
@media (max-width: 860px)
{	

p.copyright-text {
    width: 30%;
}
.footer-bottom img {
    width: 4%;
    height: 51%;
}
.meta-detail p {
    margin: 0px;
    font-size: 12px;
}



}
@media (max-width: 840px)
{
}
@media (max-width: 820px)
{


h1.animated-h1 {
        font-size: 75px;
    }
    #header-container .logo {
        margin-left: 6rem;
    }
        #transparent-banner .container-fluid {
        padding: 10rem 30px 0px;
        margin-top: -135px;
    }



}
@media (max-width: 800px)
{	
}
@media (max-width: 768px)
{
}
@media (max-width: 480px)
{		

    .hamburger span:nth-child(1) {
    width: 12px;
    }
    .hamburger span:nth-child(3) {
        width: 12px;
        margin-left: 12px;
    }
    button.hamburger.active span:nth-child(3), button.hamburger.active span:nth-child(1) {
        width: 25px;
        margin: 0px !important;
    }
        button.hamburger.active {
        top: 4%;
    }
    h1.animated-h1 {
        font-size: 55px;
    }
    #header-container .logo {
        margin-left: 0rem;
        width: 90%;
    }
    #header-container .container-fluid row {
    flex-direction: row-reverse !important;
    }

#transparent-banner .container-fluid {
    background-image: url('images/mob-banner-bg.png') !important;
    border-radius: 26px;
    padding: 4rem 30px 2rem;
    margin-top: 0px;
}

    .banner-img {
    bottom: 0px;
}
.header-btn {
    display: none;
}
#header-container {
    margin-top: 0px;
}
#header-container .container-fluid {
    width: 100%;
    background-color: #ffffff00;
    border-radius: 0px;
}


        img.img-fluid.Awarding {
        width: 36%;
    }
    .footer-award-win {
        justify-content: center;
        margin-top: 20px;
    }
    .footer-award-win:before {
        left: 44%;
        transform: scale(0.7);
    }


    .footer-flex-container {
    display: flex;
    flex-direction: column;
    }
    .footer-row-2 { 
        order: 1; /* Puts the Logos at the top */
        margin-bottom: 30px; /* Adds breathing room below the logos */
    }
    .footer-row-1 { 
        order: 2; /* Puts the Info/Socials in the middle */
    }
    .footer-row-3 { 
        order: 3; /* Keeps Copyright at the bottom */
    }
    footer {
    padding: 20px 0px 0px;
    }
    .footer-info {
    width: 50%;
}
.footer-bottom {
    display: flex;
    justify-content: center;
    padding: 0px 0px 20px;
    gap: 20px;
    flex-direction: column-reverse;
    align-items: center;
            position: relative;
}
.footer-bottom ul#myLinks {
    margin-left: 0px !important;
    padding: 0px;
}
    p.copyright-text {
        width: 100%;
        text-align: center;
    }
        .footer-bottom img {
        width: 10%;
        height: 30%;
        position: absolute;
        right: 0;
    }



}
@media (max-width: 460px)
{	
}
@media (max-width: 430px)
{	


    p, a {
    font-size: clamp(14px, 1.3vw, 18px);
}
    .footer-award-win:before {
        left: 43%;
        transform: scale(0.7);
    }
        .trusted-img:before {
        top: 16%;
        transform: scale(0.6);
    }
        h1.animated-h1 {
        font-size: 45px;
    }
    .footer-info {
        padding: 0px;
    }

    


}
@media (max-width: 425px)
{
}
@media (max-width: 415px)
{

.container-fluid {
    width: 93%;
}

}
@media (max-width: 395px)
{	

.headings h2 {
    font-size: clamp(24px, 2.5vw, 50px);
}
.headings h3 {
    font-size: clamp(24px, 2.5vw, 50px);
}

        .headings {
        padding: 30px 0px 1.5rem;
    }


}
@media (max-width: 390px)
{
}
@media (max-width: 380px)
{

    #transparent-banner .container-fluid {
        padding: 3rem 22px 2rem;
    }
        button.universa-btn {
        padding: 5px 20px 7px;
    }

        h1.animated-h1 {
        font-size: 40px;
    }
 



}
@media (max-width: 360px)
{	

        .footer-info, .footer-social {
        width: 100%;
        padding-left: 20px;
    }
    .footer-award-win:before {
        left: 42%;
        transform: scale(0.6);
    }
        .headings h2 {
        font-size: clamp(20px, 2.5vw, 50px);
    }
        .footer-bottom img {
        width: 10%;
        height: 24%;
        top: -36px;
    }

}
@media (max-width: 320px)
{




}