

/* Inner-page-banner */

#transparent-banner .container-fluid.inner-banner-container {
    padding: 13rem 100px 4rem;
}
.inner-banner-content h5 {
    background-color: #000;
    color: #cefddc;
    padding: 4px 10px;
    border-radius: 7px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: clamp(14px, 1vw, 20px);
}
.inner-banner-btn button.universa-btn a {
    font-size: clamp(14px, 1.2vw, 18px);
}
.inner-banner-content h2 span {
    font-family: 'Neou', sans-serif !important;
    font-weight: 500;
}
.inner-banner-content h2 {
    font-size: clamp(30px, 3vw, 65px);
    font-family: 'Monument Extended', sans-serif;
    font-weight: 500;
}
.inner-banner-content {
    padding: 0px 1rem 0px 3rem;
}
.inner-banner-content p {
    line-height: 36px;
    color: #717171;
    width: 85%;
}
button.universa-btn-1 {
    background-color: unset;
    border: unset;
}
button.universa-btn-1 a {
    text-decoration: underline;
}
.inner-banner-btn i.fa.fa-arrow-right {
    color: #fff;
    margin-left: 8px;
}
.inner-banner-btn {
    display: flex;
    gap: 20px;
}
button.universa-btn:hover i.fa.fa-arrow-right {
    transition: 0.8s;
    color: #000;
}



/* Every Industry */

#every-industries .headings {
    padding: 3rem 0px 0rem !important;
}
.industries-cards {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 30px 45px;
    padding: 4rem 5rem;
}
.industries-box {
    padding: 70px 32px 50px 45px;
    gap: 20px;
    border-radius: 15px;
    border: 1px solid #fff;
        background: linear-gradient(45deg, #FAFFF5, #FCFFF9);
}
.industries-box:hover {
    border-color: #9DFF50;
}
.industries-box p {
    color: #666666;
    line-height: 32px;
}
.indust-links {
    padding: 10px 12px;
    background-color: #9cff5036;
    border-radius: 40px;
}
.industries-box:hover .indust-links {
    background-color: #9cff50;
    transition: 0.8s;
}
.industries-box h4 {
    font-size: clamp(18px, 1.8vw, 28px);
    margin-bottom: 0;
}





@media (max-width: 1800px)
{

#transparent-banner .container-fluid.inner-banner-container {
    padding: 13rem 70px 4rem;
}



}
@media (max-width: 1750px)
{	
}
@media (max-width: 1650px)
{	
}
@media (max-width: 1550px)
{
}
@media (max-width: 1440px)
{


.industries-cards {
    gap: 30px 30px;
    padding: 3rem 2rem;
}
.industries-box {
    padding: 50px 32px 50px 35px;
}


}
@media (max-width: 1366px)
{	

    .inner-banner-content {
    padding: 0px 1rem 0px 1rem;
}

}
@media (max-width: 1336px)
{
}
@media (max-width: 1280px)
{

    .industries-box {
        padding: 50px 22px 50px 30px;
    }


}
@media (max-width: 1115px)
{	


.inner-banner-content {
        padding: 0px 0rem 0px 0rem;
    }
    .inner-banner-content p {
    line-height: 30px;
    width: 90%;
}
.inner-banner-btn button.universa-btn {
    padding: 5px 14px 7px 20px;
}
.industries-box p {
    line-height: 26px;
}


}
@media (max-width: 1024px)
{



    #transparent-banner .container-fluid.inner-banner-container {
        padding: 11rem 70px 4rem;
    }
    .inner-banner-btn {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
    .inner-banner-content p {
        line-height: 24px;
        width: 100%;
    }

    .inner-banner-btn i.fa.fa-arrow-right {
    font-size: 13px;
}




}
@media (max-width: 885px)
{

    .industries-cards {
        gap: 20px 20px;
        padding: 2rem 0rem;
    }
.inner-banner-content h5 {
    margin-bottom: 10px;
}



}
@media (max-width: 860px)
{	
}
@media (max-width: 840px)
{

    #transparent-banner .container-fluid.inner-banner-container {
        padding: 11rem 26px 4rem;
    }


}
@media (max-width: 820px)
{
}
@media (max-width: 800px)
{	
}
@media (max-width: 768px)
{
}
@media (max-width: 480px)
{	
    


    .inner-banner-col {
    order: 2;
    margin-top: 35px;
}
    #transparent-banner .container-fluid.inner-banner-container {
        background-image: url('/assets/images/mob-banner-bg.png') !important;
        padding: 3rem 26px 4rem;
    }
    .industries-cards {
    grid-template-columns: repeat(2, 2fr);
}
    .industries-box {
        padding: 40px 12px 30px 20px;
        gap: 15px;
    }
        .inner-banner-btn {
        flex-direction: row;
    }

}
@media (max-width: 460px)
{		
}
@media (max-width: 430px)
{	


    .industries-box p {
        line-height: 24px;
        font-size: clamp(14px, 1.3vw, 18px);
    }


}
@media (max-width: 425px)
{
}
@media (max-width: 415px)
{

    .inner-banner-btn button.universa-btn {
        padding: 5px 5px 7px 6px;
    }  
    .inner-banner-btn i.fa.fa-arrow-right {
    color: #fff;
    margin-left: 2px;
}


}
@media (max-width: 395px)
{	
}
@media (max-width: 390px)
{


    .inner-banner-btn {
        flex-direction: column;
    }
        .inner-banner-btn button.universa-btn {
        padding: 5px 10px 7px 12px;
    }


}
@media (max-width: 380px)
{
}
@media (max-width: 360px)
{	
}
@media (max-width: 320px)
{
}